[submodule "gh-unit"]
	path = gh-unit
	url = https://github.com/kennbrodhagen/gh-unit.git
[submodule "KIF"]
	path = KIF
	url = https://github.com/kennbrodhagen/KIF.git
[submodule "Kiwi"]
	path = Kiwi
	url = https://github.com/allending/Kiwi.git
